* {
  margin: 0;
  padding: 0;
}

html {
  visibility:hidden;
  height: 100svh;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  height: 100svh;
  font-family: sans-serif;
  overflow: hidden;
  background-color: rgb(192, 192, 192);
}

.onederz-logo {
  width: 40px;
}
a {
  text-decoration: none;
}

.main-container-index {
  height: 100svh;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
}

.tourexcursion {
  width: 350px;
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 0;
  animation: move 0.4s ease-in forwards;
}
@keyframes move {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

.activity {
  width: 350px;
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 6.7rem;
  animation: move 0.5s ease-in forwards;
}
@keyframes move {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

.transport {
  width: 350px;
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 13.4rem;
  animation: move 0.6s ease-in forwards;
}
@keyframes move {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

#slide-event-today {
  position: relative;
  bottom: -40px;
}
#slide-event-tomorrow {
  position: relative;
}


.slide-event {
  width: 100%;
  position: relative;
}


.carousel img {
  background-image: url(slide/small-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 2px 2px 10px 2px;
}

.carousel-control-prev-icon {
  position: absolute;
  left: 0.5rem;
}

.carousel-control-next-icon {
  position: absolute;
  right: 0.5rem;
}


.slide-dot {
  position: absolute;
  width: 100%;
  height: 20px;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(215, 217, 217, 0.5);
}

.carousel-indicators li.active {
background-color: rgb(36, 75, 80);
}

.carousel-item {
padding: 1rem;
}
.section-menu {
position: relative;
height: 25svh;
}
.section {
height: 75svh;
}

.menu {
justify-content: center;
display: flex;

}

.menu-list {
  text-align: center;
  border-radius: 1rem;
  z-index: 1;
  padding: 0.3rem;
  margin-top: -1rem;
  font-weight: bold;
  background-color: rgb(137, 183, 195);
  width: 95px;
  height: 30px;
  box-shadow: 2px 2px 2px ;
}
.bg-1 {
  filter: blur(1px);
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 17rem;
  height: 20rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}
.bg-2 {
  filter: blur(1px);
  top: 0;
  right: 0;
  z-index: -1;
  width: 10rem;
  height: 20rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-3 {
  filter: blur(1px);
  top: 0;
  right: 0;
  z-index: -1;
  width: 3rem;
  height: 4rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-4 {
  filter: blur(1px);
  top: 80px;
  right: 0;
  z-index: -1;
  width: 1rem;
  height: 2rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}
.bg-5 {
  filter: blur(1px);
  top: 120px;
  right: 20px;
  z-index: -1;
  width: 1rem;
  height: 1rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-6 {
  filter: blur(1px);
  bottom: 5px;
  left: 5px;
  z-index: -1;
  width: 5rem;
  height: 5rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-7 {
  filter: blur(1px);
  bottom: 5px;
  right: 5px;
  z-index: -1;
  width: 5rem;
  height: 2rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-8 {
  filter: blur(1px);
  bottom: 50px;
  right: 0;
  z-index: -1;
  width: 5rem;
  height: 12rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-9 {
  filter: blur(1px);
  top: 50px;
  left: 0;
  z-index: -1;
  width: 5rem;
  height: 12rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

.bg-10 {
  filter: blur(1px);
  top: 90px;
  left: 5px;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  background-color: rgba(35, 88, 88, 0.501);
  position: absolute;
  animation: bg-fade 1s linear;
}

@keyframes bg-fade {
  0% {
    width: 1rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
