* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    overflow: hidden;
    background-color: rgb(98, 121, 148);
}
a {
    text-decoration: none;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    flex: wrap;
}
#tour {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
}

#bus {
    background: rgb(235, 200, 200);
    width: 100%;
    height: 100vh;
}

.header-info {
    top: 0;
    position: fixed;
    margin-top: 0.5rem;
    width: 100%;
}
.info {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
}

.btn-button {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
    background: black;
}

.btn-tour-logo, .btn-bus-logo {
    padding-top: 0.5rem;
    text-align: center;
}

.btn-bus, .btn-tour {
    width: 100%;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.btn-bus {
    background-color: rgb(5, 19, 82);
}
.btn-tour {
    background-color: brown;
}

.description {
    padding-left: 0.5rem;
    padding-top: 2.5rem;
}

.card {
    margin-top: 1rem;
max-width: 300px;
height: 100px;
margin-left: auto;
margin-right: auto;
perspective: 1000px;
cursor: pointer;
transition: transform 1s;
transform-style: preserve-3d;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card.flipped {
transform: rotateY( 180deg );
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card-front, .card-back {
position: absolute;
padding: 10px;
backface-visibility: hidden;
justify-content: center;
align-items: center;
}

.card-back {
transform: rotateY(180deg);
}

p {
    line-height: 1.3;
}